<div class="container">
    <h2>イベント一覧</h2>
    <ul>
        <li>開催中のイベントにエントリーできます</li>
        <li>参加中のイベントはマイページで確認できます</li>
        <li>キャンセルはできますが再度申し込みの際は１からのお手続きをお願いします</li>
    </ul>
    <div class="row">
        <table class="table table-bordered">
        	<thead>
        		<tr>
        			<th>No.</th>
        			<th>イベント名</th>
        			<th>概要・詳細</th>
        			<th>参加申請</th>
        		</tr>
        	</thead>
        	<tbody>
        	    <!--tbodypp-->
        	    <% a = 0 %>
        	    <% @events.each do |event| %>
        		<tr>
        			<th><%= event.id %></th>
        			<th><%= event.name %></th>
        			<td><%= event.event_detail %></td>
        	     		<td>
            			    <% if event.event_status == "waiting" %>
            			    <%# b = event.id %>
            			        <%# X = @cancel.cancel %>
            			        <% if event.cancel == nil %>
            			        　<%= link_to "エントリーする", event_path(event.id), class:"btn btn-danger" %>
            			        <% elsif event.cancel == 0 %>
            			          <%= link_to "キャンセルする", event_path(event.id), class:"btn btn-primary" %>
            			        <% elsif event.cancel == 1 %>
            			          <%= link_to "キャンセル済み", event_path(event.id), class:"btn btn-danger" %>
            			        <% end %>
            			    <% elsif event.event_status == "perparation" %>
            			        <p class="btn btn-danger">準備中</p> 
            			    <% elsif event.event_status == "finish" %>
            			        <p class="btn btn-danger">受付終了</p>
            			    <% end %>
            	       	</td>		    
        		</tr>
        		<% end %>
        	</tbody>
        </table>
    </div>
</div>