

    <!--enum event_status:{-->
    <!--    perparation: 0, #準備中-->
    <!--    waiting: 1, #受付中-->
    <!--    finish: 2, #受付終了-->
    <!--}-->

<div class="container">
    <div class="row text-center">
<!--<% if @entry.do_entry? %>  #do_entry-->
        <h2>エントリーありがとうございました！</h2>
        <p>マイページより状況を確認できます</p>
        <div class="text-center">
          <div class="col-lg-4"><%= link_to "トップページ", root_path %></div>
          <div class="col-lg-4"><%= link_to "マイページ", users_path %></div>
          <div class="col-lg-4"><%= link_to "イベント一覧", events_path %></div>
        </div>
  <!--<% elsif @entry.cancel_entry? %> cancel_entry-->
        <h2>ありがとうございました！</h2>
        <p>またの機会にお待ちしております！</p>
        <div class="col-lg-4"><%= link_to "トップページ", root_path %></div>
        <div class="col-lg-4"><%= link_to "マイページ", users_path %></div>
        <div class="col-lg-4"><%= link_to "イベント一覧", events_path %></div>
      <% else %>
        <p>表示がうまくできてないお</p>
     <% end %>
     </div>
</div>
