<div class="container">
    <h3 class="midashi3">回答一覧</h3>
    <div class="row c-toparea">
      <p><span class="underbar">このページについて</span></p>
      <ul class="c-toparea-ul">
        <li>質問に対する回答一覧ページです</li>
        <li>お困りの方がたくさんいらっしゃいます。<a><%= link_to "こちら", questions_path %></a>から確認してください</li>
      </ul>
    </div>
    <div class="c-flex-box" style="justify-content: space-between">
      <div class="text-left c-search-area c-margin-bottom">
        <%= form_tag(answers_search_path, :method => 'get') do %>
          <%= text_field_tag :search, "", {placeholder:'タイトル名で検索'} %>
          <%= submit_tag '検索', :name => nil %>
        <% end %>
      </div>
      <div class="text-right c-margin-bottom" >
      </div>  
    </div>

  <% @answers.order(created_at: :desc).each do |answer| %>
  <div class="row">
    <div class="timeline">
      <div class="col-lg-2 image-image">
        <div class="image-image-image">
          <i class="fas fa-user-circle fa-3x"></i>
        </div>
      </div>
      <div class="col-lg-8 post-text-area">
        <ul class="ppp">
          <li><%= answer.user.name %></li>
          <li>投稿日:<%= l answer.created_at, format: :short %></li>
        </ul>
        <p>「<%= link_to answer.question.title.truncate(60, omission: '...'), question_path(answer.question.id) %>」</p>
        <div class="post-introduction-area">
            <div class="text-right">
              <%= link_to "全文表示", answer_path(answer.id) %>
            </div>
        </div>
      </div>
      <div class="col-lg-2 post-info-area">
        <ul>
          <li><i class="fas fa-folder"></i><%= answer.question.tag.genre.name %><br></li>
          <li><i class="fas fa-tags"></i><%= answer.question.tag.name %><br></li>
          <% if user_signed_in? %>
          <li>
            <div class="c-delete">
              <% if current_user.id == answer.user_id %>
                <%= link_to answer_path(answer.id), data: {confirm:'本当に削除しますか？'},:method => :delete do %>
                  <i class="fas fa-trash-alt c-delete-icon">削除</i>
                <% end %>
              <% end %>
            </div>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
    </div>
   <% end %>

</div>