<!--<div class="container">-->
<!--    <h3>質問を投稿する</h3>-->
<!--    <div class="row">-->
<!--        <div class="box event-new">-->
<!--            <%# form_with model:@question, url:questions_path, class:"form-horizontal", local:true do |f| %>-->
<!--            <div class="form-group">-->
<!--              <label class="col-sm-5 control-label">タイトル</label>-->
<!--              <div class="col-sm-5">-->
<!--                <%# f.text_field :title %>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="form-group"  id="exampleFormControlSelect1">-->
              <!--<label class="col-sm-5 control-label">ジャンル</label>-->
                <!--<div class="col-sm-5">-->
                <!--    <select class="form-control" id="exampleFormControlSelect1">-->
                       <%# @genres.each do |genre| %>  
                       <%# @tags.each do |tag| %>  
                <!--       <option>-->
                          <%# tag.genre.name %> 
                <!--       </option>-->
                       <%# end %>
                       <%# end %>
                <!--    </select>-->
                <!--  <br>-->
                <!--</div>-->
<!--              </div>-->
<!--            <div class="form-group"  id="exampleFormControlSelect1">-->
<!--              <label class="col-sm-5 control-label">タグ</label>-->
<!--                <div class="col-sm-5">-->
<!--                  <%# f.collection_select :tag_id, Tag.all, :id, :name, include_blank: "選択して下さい" %><br>-->
<!--                </div>-->
<!--              </div>-->
<!--            <div class="form-group">-->
<!--              <label class="col-sm-5 control-label">説明</label>-->
<!--              <div class="col-sm-5">-->
<!--                <%# f.text_area :introduction, class:"form-control" %><br>-->
<!--              </div>-->
<!--            </div>-->
<!--               <%# f.submit "投稿する" %>-->
<!--            </div>-->
<!--            <%# end %>-->
<!--         </div>-->
<!--</div>-->

<div class="container user-sign-in">  
 <div class="row form-title">
   <h3>質問する</h3> 
 </div> 
  <%= alert %>
 <%= form_with model:@question, url:questions_path, class:"form-horizontal", local:true do |f| %>
    <div class="row user-sign-in">
      <div class="field">
        <div class="col-xs-12">
          <%= f.text_field :title, autofocus: true, autocomplete: "title", placeholder: "タイトル", class:'fa' %>
        </div>
      </div>
    </div>
    
    <div class="row user-sign-in">
      <div class="field">
        <div class="col-xs-12 dropdown">
          <%= f.collection_select :tag_id, Tag.all, :id, :name, include_blank: "選択してください" %>
        </div>
      </div>
    </div>
    
    <div class="row user-sign-in">
      <div class="field">
        <div class="col-xs-12">
          <%= f.text_area :introduction, placeholder: "説明文", class:"textarea" %>
        </div>
      </div>
    </div>

  <div class="row user-links">
    <%= f.submit "質問する", class:"btn btn-secondary btn btn-lg w-80"%>
   <% end %>
   </div>
</div>