<div class="container">
    <div class="row question-toparea">
      <% if @question.is_active =  false %>
          <P>回答済みの質問です</p>
      <% else %>
          <p>未回答です</p>
      <% end %>
    </div>
    <div class="row question-box">
      <div class="question-box-text">
        <h4 class="question-midashi"><%= @question.tag.genre.name %>に関する質問です</h4>
        <!--<i class="far fa-question-circle"></i>-->
        <div class="tag">
        <p><%= @question.tag.name %></p>
        </div>
        <p><%= @question.title %></p>
      </div>
    </div>
</div>
<br>
<div class="row question-btn" style="text-align:center;">
  <%= link_to '回答する', new_answer_path(@question.id) %>
  <!--#引数を@questionにしてrootingを/answers/:id/newにしたら上手くパスはとおった-->
  <%= @question.user_id %>
</div>

