<h2>タグ関連(編集）</h2>
<div class="container">
    <div class="row">
        <ul>
            <li>タグを編集できます</li>
            <li>タグは親ジャンルに紐づいています</li>
            <li>編集はできますが、親ジャンルの変更や大きく記載内容が変わる場合はユーザーが混乱するので基本的にお勧めしません</li>
        </ul>
    </div>
</div>
<div class="container form">
  <div class="row box">
    <%= form_with model:@tag, url:admins_tag_path(@tag.id), method: :patch, class:"form-horizontal", local:true do |f| %>
    <div class="form-group">
      <label class="col-sm-5 control-label">タグ名</label>
      <div class="col-sm-5">
        <%= f.text_field :name %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-5 control-label">タグ内容</label>
      <div class="col-sm-5">
        <%= f.text_area :introduction, class:"form-control" %><br>
      </div>
    </div>
    <div class="form-group"  id="exampleFormControlSelect1">
      <label class="col-sm-5 control-label">親ジャンル選択</label>
        <div class="col-sm-5">
                  
            <select class="form-control" id="exampleFormControlSelect1">
               <% @genres.each do |genre| %>  
               <option>
                  <%= genre.id %>:<%= genre.name %>
               </option>
               <% end %>
            </select>
          <br>
        <%= f.submit "更新する" %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>